$main: #21054d;
$secondary: #391e88;
$gray: #e8e8e8;
$purple: #a798b7;
$footerGray: #f7f7f7;
$footerBlack: #120e19;
$white: #fff;
$text: #333333;
$pureWite: #fff;
$disabled: #c0c0c0;
$bgGray: #f0f0f0;
$yellow: #f5f534;
$borderGray: #ddd;
$link: #240c6a;
$borderMain: #b8aed5;
$borderGrayA: #aaa;
$buttonColor: #fdfdfd;
$buttonBorder: #aaa;
