@charset "UTF-8";

/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */

a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */

ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */

table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */

input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */

textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */

pre {
  all: revert;
}

/* reset default text opacity of input placeholder */

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

/* remove default dot (•) sign */

::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */

:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */

:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */

:where(dialog:modal) {
  all: revert;
}

body {
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
  position: relative;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

img {
  vertical-align: bottom;
}

#headerArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  padding: 35px clamp(1.25rem, 1.0378rem + 0.9302vw, 1.875rem);
  width: 100vw;
  top: 0;
  left: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1000;
}

#headerArea.scroll {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #21054d;
}

#menuBtn {
  display: none;
}

#headerNavArea.act {
  opacity: 1;
  visibility: visible;
}

#headerNavArea .navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
}

#contactArea {
  padding: clamp(3.75rem, 3.3256rem + 1.8605vw, 5rem) 0;
  background-color: #f7f7f7;
}

#contactArea .titleMain {
  margin: 0 0 clamp(1.875rem, 1.7689rem + 0.4651vw, 2.1875rem);
}

#contactArea .description {
  margin: 0 0 30px;
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  line-height: 1.7;
  text-align: center;
}

#contactArea .buttonMain {
  margin: 0 auto;
}

#footerArea {
  padding: 60px 0;
  background-color: #120e19;
}

#footerArea .navArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px;
  padding: 0 10%;
  font-size: clamp(0.75rem, 0.7076rem + 0.186vw, 0.875rem);
  font-weight: 700;
  color: #fff;
}

#copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05em;
  color: #a798b7;
  text-align: center;
}

#logo {
  width: clamp(7.75rem, 6.9648rem + 3.4419vw, 10.0625rem);
}

#breadcrumb {
  background-color: #f7f7f7;
}

#breadcrumb ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: clamp(0.375rem, 0.184rem + 0.8372vw, 0.9375rem) 5%;
  max-width: 1110px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.6875rem, 0.6663rem + 0.093vw, 0.75rem);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1;
}

#titleUnderPage {
  padding: 105px 0 65px;
  background-image: url("../img/common/titleUnderPagePC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

#titleUnderPage h1 {
  margin: 0 0 15px;
  font-size: 36px;
}

#titleUnderPage p {
  font-size: 14px;
}

.titleMain {
  color: #391e88;
}

.titleMain h2 {
  margin: 0 0 5px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.875rem, 1.7901rem + 0.3721vw, 2.125rem);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
}

.titleMain span {
  display: block;
  font-size: clamp(0.8125rem, 0.7913rem + 0.093vw, 0.875rem);
  text-align: center;
}

.buttonMain {
  display: block;
  position: relative;
  padding: 20px 0;
  border-radius: 50px;
  width: 200px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633a4), to(#250d65)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.buttonMain span {
  position: relative;
}

.buttonMain::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent -webkit-gradient(linear, left top, right top, from(#250d65), to(#7633a4)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #250d65 0%, #7633a4 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #250d65 0%, #7633a4 100%) 0% 0% no-repeat padding-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.buttonMain::after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0;
  width: 0;
  height: 0;
  top: 50%;
  right: 1.5em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonMain:hover::before {
  opacity: 0;
}

.buttonMain:hover::after {
  right: 1.3em;
}

.buttonSecondary {
  display: block;
  position: relative;
  padding: 20px 0;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 220px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
}

.buttonSecondary::after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0;
  width: 0;
  height: 0;
  top: 50%;
  right: 1.5em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonSecondary:hover::after {
  right: 1.3em;
}

.goal {
  position: relative;
  margin: 0 auto;
  padding: 136px 0 80px;
  max-width: 1300px;
  background-image: url("../img/top/bg-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.goal::before,
.goal::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.goal::before {
  width: 23.5%;
  background-image: url("../img/top/sce05L.png");
  left: 0;
}

.goal::after {
  width: 25%;
  background-image: url("../img/top/sec05R.png");
  right: 0;
}

.goal .titleMain {
  margin: 0 auto 40px;
}

.goal h3 {
  display: inline-block;
  position: relative;
  margin: 0 0 45px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
}

.goal h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 103%;
  background-color: #f5f534;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.goal .description {
  margin: 0 auto 30px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

.goal .buttonMain {
  margin: 0 auto;
}

#top #sec01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/top/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#top #sec01 h1 {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.5rem, 1.8209rem + 2.9767vw, 4.5rem);
  font-weight: 700;
  letter-spacing: 0.04;
  color: #fff;
}

#top #sec01 .catch {
  margin: 0 0 clamp(1.875rem, 1.4506rem + 1.8605vw, 3.125rem);
  font-size: clamp(1rem, 0.8302rem + 0.7442vw, 1.5rem);
  font-weight: 600;
  letter-spacing: 0.1;
  color: #fff;
  text-align: center;
}

#top #sec01 .buttonSecondary {
  margin: 0 auto;
}

#top #sec01 .scrollItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: clamp(0.9375rem, 0.6192rem + 1.3953vw, 1.875rem);
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #fff;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

#top #sec01 .scrollItem span {
  display: block;
  width: 1px;
  height: clamp(3.125rem, 2.4884rem + 2.7907vw, 5rem);
  background-color: #fff;
  -webkit-animation-name: scrollAnime;
  animation-name: scrollAnime;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes scrollAnime {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

@keyframes scrollAnime {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

#top #sec02 {
  padding: clamp(2.5rem, 1.8634rem + 2.7907vw, 4.375rem) 5%;
}

#top #sec02 .contentIn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2rem, 1.618rem + 1.6744vw, 3.125rem);
  margin: 0 auto;
  max-width: 917px;
}

#top #sec02 .titleMain span {
  text-align: left;
}

#top #sec02 .newsBox {
  display: grid;
  gap: 15px;
}

#top #sec02 .newsItem a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px 20px;
}

#top #sec02 .newsItem .date {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#top #sec02 .newsItem .term {
  padding: 2px 0;
  border-radius: 50px;
  width: 82px;
  background-color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.6875rem, 0.6663rem + 0.093vw, 0.75rem);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
}

#top #sec02 .newsItem .newsTitle {
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 300;
  letter-spacing: 0.05em;
}

#top #sec03 {
  padding: clamp(2.5rem, 1.8634rem + 2.7907vw, 4.375rem) 5% clamp(1.25rem, 0.189rem + 4.6512vw, 4.375rem);
}

#top #sec03 .contentIn {
  margin: 0 auto;
  max-width: 1110px;
}

#top #sec03 .titleMain {
  margin: 0 0 30px;
}

#top #sec03 .serviceList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px 2%;
  margin: 0 0 30px;
}

#top #sec03 .serviceList picture {
  display: block;
  margin: 0 0 clamp(0.9375rem, 0.7253rem + 0.9302vw, 1.5625rem);
}

#top #sec03 .serviceList .serviceName {
  margin: 0 0 clamp(0.625rem, 0.4128rem + 0.9302vw, 1.25rem);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
}

#top #sec03 .serviceList .description {
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

#top #sec03 .buttonMain {
  margin: 0 auto;
}

#top #sec04 {
  padding: clamp(1.25rem, 0.189rem + 4.6512vw, 4.375rem) 5% 0;
}

#top #sec04 .contentIn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1260px;
}

#top #sec04 .contentIn::before {
  content: "";
  display: block;
  position: absolute;
  width: 67%;
  height: 100%;
  background-color: #f0f0f0;
  right: 0;
  bottom: 0;
}

#top #sec04 .lBox {
  width: 60%;
}

#top #sec04 #sliderArea {
  position: relative;
}

#top #sec04 #prevBtn,
#top #sec04 #nextBtn {
  position: absolute;
  width: 20px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#top #sec04 #prevBtn {
  background-image: url("../img/common/prev_icon.png");
  left: 2%;
}

#top #sec04 #nextBtn {
  background-image: url("../img/common/next_icon.png");
  right: 2%;
}

#top #sec04 #worksSlider {
  margin: 0 0 clamp(0.5625rem, 0.4776rem + 0.3721vw, 0.8125rem);
  width: 100%;
}

#top #sec04 #worksSlider .img {
  display: none;
  width: 100%;
}

#top #sec04 #worksSlider .img.act {
  display: block;
}

#top #sec04 #worksSliderBtnList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 8px;
}

#top #sec04 #worksSliderBtnList li {
  position: relative;
  height: 8px;
  width: 8px;
}

#top #sec04 #worksSliderBtnList .btn {
  position: absolute;
  border-radius: 90%;
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
}

#top #sec04 #worksSliderBtnList .btn.act {
  background-color: #391e88;
}

#top #sec04 .rBox {
  position: relative;
  width: 40%;
}

#top #sec04 .rBox .titleMain {
  margin: 0 0 30px;
}

#top #sec04 .rBox .description {
  margin: 0 0 30px;
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.8;
  text-align: center;
}

#top #sec04 .rBox .buttonMain {
  margin: 0 auto;
}

#top #sec05 {
  padding: clamp(1.25rem, 0.8256rem + 1.8605vw, 2.5rem) 0 0;
}

#top #sec06 {
  padding: clamp(2.5rem, 1.8634rem + 2.7907vw, 4.375rem) 0 clamp(2.5rem, 1.0145rem + 6.5116vw, 6.875rem);
}

#top #sec06 .contentIn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

#top #sec06 .lBox {
  position: relative;
  width: 40%;
  background-color: #f7f7f7;
}

#top #sec06 .lBox .box {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#top #sec06 .lBox .titleMain {
  margin: 0 auto 30px;
}

#top #sec06 .lBox .description {
  margin: 0 auto 30px;
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.8;
  text-align: center;
}

#top #sec06 .lBox .buttonMain {
  margin: 0 auto;
}

#top #sec06 .rBox {
  width: 60%;
}

#company #sec01 .goal {
  padding: 100px 0 0;
  background-image: url("../img/company/bg-circle.png");
  background-position: center 0;
  background-size: 67% auto;
}

#company #sec01 .goal:before,
#company #sec01 .goal::after {
  background-position: 0 5%;
}

#company #sec01 .goal .titleMain {
  margin-bottom: 30px;
}

#company #sec01 .goal .titleMain h2 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

#company #sec01 .goal .description {
  margin-bottom: 160px;
}

#company #sec01 .ceo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4.5%;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1100px;
}

#company #sec01 .ceo picture {
  width: 45%;
}

#company #sec01 .ceo p {
  width: 54%;
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.66;
  text-align: left;
}

#company #sec02 {
  padding: 140px 0 110px;
}

#company #sec02 .contentIn {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1100px;
}

#company #sec02 .titleMain {
  margin: 0 auto 60px;
}

#company #sec02 .dataBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.2% 81.8%);
  margin: 0 0 65px;
}

#company #sec02 .dataBox dt,
#company #sec02 .dataBox dd {
  margin: 0 0 35px;
  padding: 0 0 35px;
  border-bottom: 1px solid #ddd;
  font-size: clamp(1rem, 1.0212rem - 0.093vw, 0.9375rem);
  font-weight: 400;
  letter-spacing: 0.05em;
}

#company #sec02 .dataBox dt {
  padding-left: 15%;
  font-weight: 600;
}

#company #sec02 .dataBox dd {
  font-family: "Montserrat", sans-serif;
}

#company #sec02 .map {
  position: relative;
  margin: 0 0 10px;
  padding-top: 35.4954%;
}

#company #sec02 .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#company #sec02 .link {
  font-size: clamp(0.875rem, 0.8326rem + 0.186vw, 1rem);
  letter-spacing: 0.05em;
  color: #240c6a;
}

#service #sec01 {
  padding: 70px 0 110px;
}

#service #sec01 .contentIn {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1100px;
}

#service #sec01 .serviceList {
  display: grid;
  gap: 60px;
}

#service #sec01 .serviceList li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#service #sec01 .serviceList li picture {
  width: 40%;
}

#service #sec01 .serviceList li .rBox {
  width: 56%;
}

#service #sec01 .serviceList li .rBox h2 {
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(1.125rem, 0.9977rem + 0.5581vw, 1.5rem);
  letter-spacing: 0.05em;
  line-height: 1;
}

#service #sec01 .serviceList li .rBox p {
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

#recruit {
  background-image: url("../img/recruit/bg-geometry.png");
  background-position: top;
}

#recruit #sec01 {
  margin: 0 auto;
  padding: clamp(2.5rem, 0.8872rem + 7.0698vw, 7.25rem) 0 0;
  max-width: 1440px;
}

#recruit #sec01 .subTitle {
  margin: 0 0 clamp(1.5625rem, 1.2442rem + 1.3953vw, 2.5rem);
  text-align: center;
  color: #391e88;
}

#recruit #sec01 .subTitle .title {
  margin: 0 auto 15px;
  font-size: clamp(3rem, 2.4907rem + 2.2326vw, 4.5rem);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.2;
}

#recruit #sec01 .subTitle .sub {
  font-size: clamp(1.125rem, 0.8279rem + 1.3023vw, 2rem);
  font-weight: 300;
  letter-spacing: 0.05;
  line-height: 1;
}

#recruit #sec01 .description {
  margin: 0 0 40px;
  font-size: clamp(0.9375rem, 0.9163rem + 0.093vw, 1rem);
  font-weight: 300;
  letter-spacing: 0.05;
  line-height: 1.8;
  text-align: center;
}

#recruit #sec02 {
  padding: clamp(2.5rem, 1.8634rem + 2.7907vw, 4.375rem) 0 0;
}

#recruit #sec02 .contentIn {
  padding: 0 5%;
}

#recruit #sec02 .contentIn .titleMain {
  margin: 0 0 clamp(1.875rem, 1.6628rem + 0.9302vw, 2.5rem);
}

#recruit #sec02 .contentIn .recruitList {
  display: grid;
  gap: 30px;
  margin: 0 auto;
  max-width: 1100px;
}

#recruit #sec02 .contentIn .recruitList .recruitItem {
  padding: clamp(1.875rem, 1.2384rem + 2.7907vw, 3.75rem) 0;
  border: 1px solid #b8aed5;
  border-radius: 10px;
  background-color: #fff;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .industry {
  margin: 0 0 clamp(2.1875rem, 1.9116rem + 1.2093vw, 3rem);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.8302rem + 0.7442vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .dataBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20% 80%);
  margin: 0 auto 50px;
  gap: 32px 0;
  width: 87%;
  max-width: 920px;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dt,
#recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dd {
  padding: 0 0 30px;
  border-bottom: 1px solid #ddd;
  font-size: clamp(0.875rem, 0.8538rem + 0.093vw, 0.9375rem);
  letter-spacing: 0.05em;
  line-height: 1;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dt {
  padding-left: 10%;
  font-weight: 700;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dd {
  padding-right: 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.8;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .buttonMain {
  margin: 0 auto 5px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

#recruit #sec02 .contentIn .recruitList .recruitItem .transition {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
}

#recruit #sec03 {
  padding: 140px 0 110px;
}

#recruit #sec03 .contentIn {
  padding: 0 5%;
}

#recruit #sec03 .contentIn .titleMain {
  margin-bottom: clamp(1.875rem, 1.6628rem + 0.9302vw, 2.5rem);
}

#recruit #sec03 .contentIn .movie {
  margin: 0 auto;
  max-width: 1100px;
}

#recruit #sec03 .contentIn .movie iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

#work #sec01 {
  padding: 70px 0 110px;
}

#work #sec01 .contentIn {
  padding: 0 5%;
}

#work #sec01 .contentIn .workList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
  max-width: 1100px;
}

#work #sec01 .contentIn .workList .workItem picture {
  display: block;
  margin: 0 0 15px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2039215686);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2039215686);
}

#work #sec01 .contentIn .workList .workItem .companyName {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 1028px) {
  .goal::before,
  .goal::after {
    display: none;
  }

  #top #sec04 {
    padding-left: 0;
    padding-right: 0;
  }

  #top #sec04 .contentIn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0 60px;
  }

  #top #sec04 .contentIn::before {
    width: 100%;
    height: 78%;
  }

  #top #sec04 .lBox {
    margin: 0 auto 40px;
    width: 90%;
  }

  #top #sec04 .rBox {
    width: 100%;
  }

  #work #sec01 .contentIn .workList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  #headerArea {
    padding: 20px clamp(1.25rem, 1.0378rem + 0.9302vw, 1.875rem);
  }

  #menuBtn {
    display: block;
    position: relative;
    width: 34px;
    height: 34px;
    z-index: 1000;
  }

  #menuBtn span,
  #menuBtn::before,
  #menuBtn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  #menuBtn::before {
    -webkit-transform: translateY(calc(-50% - 5px));
    transform: translateY(calc(-50% - 5px));
  }

  #menuBtn::after {
    -webkit-transform: translateY(calc(-50% + 5px));
    transform: translateY(calc(-50% + 5px));
  }

  #menuBtn.act span {
    opacity: 0;
  }

  #menuBtn.act::before {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }

  #menuBtn.act::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }

  #headerNavArea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent -webkit-linear-gradient(295deg, #642390 0%, #19074a 100%) 0% 0% no-repeat;
    background: transparent linear-gradient(155deg, #642390 0%, #19074a 100%) 0% 0% no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    visibility: hidden;
  }

  #headerNavArea .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }

  #footerArea .navArea {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  #titleUnderPage {
    padding: 95px 0 40px;
    background-image: url("../img/common/titleUnderPageSP.jpg");
  }

  #titleUnderPage h1 {
    font-size: 30px;
  }

  #titleUnderPage p {
    font-size: 13px;
  }

  .goal {
    padding: 42px 0 80px;
    background-image: url("../img/top/bg-circleSP.png");
  }

  .goal .titleMain {
    margin: 0 auto 30px;
  }

  .goal h3 {
    font-size: 32px;
    line-height: 1.5;
  }

  .goal h3::after {
    display: none;
  }

  .goal h3 span {
    display: inline-block;
    position: relative;
  }

  .goal h3 span::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 103%;
    background-color: #f5f534;
    bottom: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
  }

  .goal .description {
    font-size: 14px;
  }

  #top #sec01 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 0 0 8%;
    background-image: url(../img/top/hero_sp.jpg);
  }

  #top #sec01 h1 {
    text-align: left;
  }

  #top #sec01 .catch {
    text-align: left;
  }

  #top #sec01 .buttonSecondary {
    margin: 0;
  }

  #top #sec01 .scrollItem span {
    height: clamp(3.125rem, 2.4884rem + 2.7907vw, 5rem);
  }

  #top #sec02 .contentIn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #top #sec02 .titleMain span {
    text-align: center;
  }

  #top #sec02 .newsBox {
    gap: 40px;
  }

  #top #sec02 .newsItem a {
    gap: 10px 15px;
  }

  #top #sec02 .newsItem .newsTitle {
    width: 100%;
  }

  #top #sec03 .serviceList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #top #sec06 .contentIn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  #top #sec06 .lBox {
    padding: 60px 0 55px;
    width: 100%;
  }

  #top #sec06 .lBox .box {
    position: static;
    width: auto;
    top: 0;
    -webkit-transform: none;
    transform: none;
  }

  #top #sec06 .rBox {
    width: 100%;
  }

  #company #sec01 .goal .description {
    margin-bottom: 60px;
  }

  #company #sec01 .ceo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  #company #sec01 .ceo picture {
    width: 100%;
  }

  #company #sec01 .ceo p {
    width: 100%;
  }

  #company #sec02 {
    padding: 80px 0 50px;
  }

  #company #sec02 .dataBox {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 20px;
  }

  #company #sec02 .dataBox dt {
    border: none;
    margin: 0 0 10px;
    padding: 0;
  }

  #company #sec02 .dataBox dd {
    margin: 0 0 20px;
    padding: 0 0 20px;
  }

  #company #sec02 .map {
    padding-top: 71.6417%;
  }

  #service #sec01 {
    padding: 40px 0 80px;
  }

  #service #sec01 .serviceList {
    gap: 50px;
  }

  #service #sec01 .serviceList li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #service #sec01 .serviceList li picture {
    margin: 0 0 20px;
    width: 100%;
  }

  #service #sec01 .serviceList li .rBox {
    width: 100%;
  }

  #service #sec01 .serviceList li .rBox h2 {
    margin: 0 0 15px;
  }

  #recruit #sec02 .contentIn .recruitList .recruitItem .dataBox {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 0 auto 40px;
  }

  #recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dt {
    margin: 0 0 10px;
    padding: 0;
    border: none;
  }

  #recruit #sec02 .contentIn .recruitList .recruitItem .dataBox dd {
    margin: 0 0 20px;
    padding: 0 0 16px;
  }

  #recruit #sec03 {
    padding: 80px 0;
  }

  #work #sec01 {
    padding: 40px 0 80px;
  }

  #work #sec01 .contentIn .workList {
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
}