@use "../mixin/colors";
@use "../mixin/fonts";
@use "../mixin/media";

#titleUnderPage {
  padding: 105px 0 65px;
  background-image: url("../img/common/titleUnderPagePC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1;
  color: colors.$pureWite;
  font-family: fonts.$Mont;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;

  @include media.mediaQuery(sp) {
    padding: 95px 0 40px;
    background-image: url("../img/common/titleUnderPageSP.jpg");
  }

  h1 {
    margin: 0 0 15px;
    font-size: 36px;

    @include media.mediaQuery(sp) {
      font-size: 30px;
    }
  }
  p {
    font-size: 14px;

    @include media.mediaQuery(sp) {
      font-size: 13px;
    }
  }
}

.titleMain {
  color: colors.$secondary;

  h2 {
    margin: 0 0 5px;
    font-family: fonts.$Mont;
    font-size: clamp(1.875rem, 1.7901rem + 0.3721vw, 2.125rem);
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: center;
  }
  span {
    display: block;
    font-size: clamp(0.8125rem, 0.7913rem + 0.093vw, 0.875rem);
    text-align: center;
  }
}
